---
title: 'AuthenticationFactorRegistrationVerification'
sidebar_position: 86
mdx:
    format: 'md'
---

```typescript
type AuthenticationFactorRegistrationVerification =
    | PhoneFactorRegistrationVerification
    | EmailFactorRegistrationVerification
    | AuthenticatorFactorRegistrationVerification
    | FidoFactorRegistrationVerification;
```
