---
title: 'AuthenticationRegistrationVerification'
sidebar_position: 28
mdx:
    format: 'md'
---

<details>
<summary>Attributes (2)</summary>

| Attribute        | Type     | Required | Description                 |
| ---------------- | -------- | -------- | --------------------------- |
| `registrationId` | `string` | Yes      | The registration identifier |
| `code`           | `string` | Yes      | The verification code       |

</details>
